name: my first github action

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: sangameshragate/my-second-app

    steps:
      - uses: actions/checkout@v3

      - name: Run tests
        run: |
          cd src
          python -m pytest addition.py
